<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sunmnet.bigdata.systemManage.dao.systemManage.AccountLoginInfoMapper" >
  <resultMap id="BaseResultMap" type="com.sunmnet.bigdata.systemManage.base.systemManage.entity.AccountLoginInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="dept_code" property="deptCode" jdbcType="VARCHAR" />
    <result column="dept_name" property="deptName" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="ID_card" property="idCard" jdbcType="VARCHAR" />
    <result column="first_login_time" property="firstLoginTime" jdbcType="VARCHAR" />
    <result column="last_login_time" property="lastLoginTime" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.sunmnet.bigdata.systemManage.base.systemManage.entity.AccountLoginInfo" >
    insert into login_account_info (id, account, name,
      mobile, dept_code, dept_name, 
      email, ID_card, first_login_time, 
      last_login_time)
    values (#{id,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{deptCode,jdbcType=VARCHAR}, #{deptName,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, #{firstLoginTime,jdbcType=VARCHAR}, 
      #{lastLoginTime,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.sunmnet.bigdata.systemManage.base.systemManage.entity.AccountLoginInfo" >
    update login_account_info
    set account = #{account,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      dept_code = #{deptCode,jdbcType=VARCHAR},
      dept_name = #{deptName,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      ID_card = #{idCard,jdbcType=VARCHAR},
      first_login_time = #{firstLoginTime,jdbcType=VARCHAR},
      last_login_time = #{lastLoginTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <update id="updateByAccount" parameterType="com.sunmnet.bigdata.systemManage.base.systemManage.entity.AccountLoginInfo" >
    update login_account_info
    set last_login_time = #{lastLoginTime,jdbcType=VARCHAR}
    where account = #{account,jdbcType=VARCHAR}
  </update>

  <select id="selectAll" resultMap="BaseResultMap" >
    select id, account, name, mobile, dept_code, dept_name, email, ID_card, first_login_time, 
    last_login_time
    from login_account_info
  </select>

    <select id="getAccountLoginInfoByAccount" resultMap="BaseResultMap" >
        select id, account, name, mobile, dept_code, dept_name, email, ID_card, first_login_time,last_login_time
        from login_account_info
        where account = #{account,jdbcType=VARCHAR}
  </select>
</mapper>