<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sunmnet.bigdata.systemManage.dao.systemManage.SunmnetSystemAdminMenuInfoDao" >
    <resultMap id="BaseResultMap" type="com.sunmnet.bigdata.systemManage.base.systemManage.entity.SunmnetSystemAdminMenuInfoEntity" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="admin_no" property="adminNo" jdbcType="VARCHAR" />
        <result column="menu_no" property="menuNo" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="VARCHAR" />
        <result column="last_modify_time" property="lastModifyTime" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, admin_no, menu_no, create_time, last_modify_time
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select 
        <include refid="Base_Column_List" />
        from sunmnet_system_admin_menu_info
        where id = #{id,jdbcType=BIGINT}
    </select>

    <!--根据管理员编号查询管理员授权的菜单 wm 2018-04-04-->
    <select id="findSystemAdminMenuInfoByAdminNo" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from sunmnet_system_admin_menu_info
        where admin_no = #{adminNo,jdbcType=VARCHAR}
    </select>
    
   <resultMap id="BaseResultMapRole" type="com.sunmnet.bigdata.systemManage.base.systemManage.model.AdminMenuInfoRoleModel" >
        <result column="menu_url" property="menuUrl" jdbcType="VARCHAR" />
        <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
        <result column="menu_no" property="menuNo" jdbcType="VARCHAR" />
    </resultMap>
    <!--根据管理员编号查询管理员授权的菜单 wm 2018-04-04-->
    <select id="findSystemAdminMenuUrlByAdminNo" resultMap="BaseResultMapRole" parameterType="java.lang.String" >
        select smi.menu_url,smi.menu_name,smi.menu_no
        	from sunmnet_system_admin_menu_info ssami ,sunmnet_menu_info smi 
			where  ssami.menu_no = smi.menu_no and admin_no = #{adminNo,jdbcType=VARCHAR}
    </select>
    
    <insert id="insertSelective" parameterType="com.sunmnet.bigdata.systemManage.base.systemManage.entity.SunmnetSystemAdminMenuInfoEntity" >
        insert into sunmnet_system_admin_menu_info
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="adminNo != null" >
                admin_no,
            </if>
            <if test="menuNo != null" >
                menu_no,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="lastModifyTime != null" >
                last_modify_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="adminNo != null" >
                #{adminNo,jdbcType=VARCHAR},
            </if>
            <if test="menuNo != null" >
                #{menuNo,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="lastModifyTime != null" >
                #{lastModifyTime,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.sunmnet.bigdata.systemManage.base.systemManage.entity.SunmnetSystemAdminMenuInfoEntity" >
        update sunmnet_system_admin_menu_info
        <set >
            <if test="adminNo != null" >
                admin_no = #{adminNo,jdbcType=VARCHAR},
            </if>
            <if test="menuNo != null" >
                menu_no = #{menuNo,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="lastModifyTime != null" >
                last_modify_time = #{lastModifyTime,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from sunmnet_system_admin_menu_info
        where id = #{id,jdbcType=BIGINT}
    </delete>
    
    <!--根据管理员编号删除管理员菜单权限 wm 2018-04-07-->
 	<delete id="deleteAdminMenuByAdminNo" parameterType="java.lang.String" >
        delete from sunmnet_system_admin_menu_info
        where admin_no = #{adminNo,jdbcType=VARCHAR}
    </delete>




</mapper>